<nav class="layout-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ "/" | relative_url }}">Home</a></li>
        {% if page.title != 'Architecture' %}
        <li class="breadcrumb-item"><a href="{{ "/docs/overview" | relative_url }}">Docs</a></li>
        {% endif  %}
        <li class="breadcrumb-item active" aria-current="page">{{page.title}}</li>
    </ol>
</nav>
