<!-- Start Faq  Area -->
<section class="faq-area bg-color3">
    <div class="faq-wrapper section-spacing bminus-30">
        <div class="container">
            <div class="section-title">
                <h2 class="heading-2">Frequently Asked Questions</h2>
                <p>Some of the most asked questions about the connector, do you have other questions please visit the <a href="https://gitlab.com/groups/tno-tsg/-/issues">Gitlab Issues</a>.</p>
            </div>
            <div class="row">
                {% for faq in site.data.faqs %}
                    <div class="col-md-6">
                        <article class="faq-service bg-color1">
                            <header class="faq-logo wow bounceIn" data-wow-duration="1s">
                                <div class="logo-image"> 
                                    <i class="fas {{faq.icon}}"></i>
                                </div>
                            </header>
                            <footer class="faq-content">
                                <h4 class="heading-4">{{faq.title}}</h4>
                                <p>{{faq.subtitle}} </p>
                            </footer>
                        </article>
                    </div>
                {% endfor %}
                
            </div>
        </div>
    </div>
</section>
<!-- End Faq Area -->