<!-- Loading -->
<!-- <div class="loading-main">
    <div class="pre-loader">
        <div class="loading">
            <div class="bounceball"></div>
            <div class="text">NOW LOADING</div>
        </div>
    </div>
</div> -->
<!-- Start Header Area -->
<header class="header-area">
    <div class="header-navigation">
        <div class="container">
            <div class="alert alert-danger">
                <b> A new version of the TSG based on the Dataspace Protocol is out! Visit the new version
                    <a target="_blank" href="https://tsg.dataspac.es">here</a></b>.
            </div>

            <div class="navigation-box">
                <div class="navigation-left">
                    <a class="header-logo" href="{{ "/" | relative_url }}">
                        <img src="{{ '/assets/images/TSG-Logo-White.svg' | relative_url }}" alt="header logo" style="height: 5rem;">
                        <!-- <h1>TNO IDS Connector</h1> -->
                    </a>
                </div>
               
					
      <div class="navigation-right">
                     <nav class="navigation-navbar">
                        <ul id="navigation-menu" class="slimmenu">
				{% for link in site.data.navigation %}
					{% assign active = nil %}

					{% for sublink in link.submenu %}
						{% if page.url contains sublink.url %}
							{% assign active = 'active' %}
						{% endif %}
					{% endfor %}

					{% if page.url contains link.url %}
						{% assign active = 'active' %}
					{% endif %}
                    {% if link.url == "/" and page.url != link.url %}
                        {% assign active = nil %}
                    {% endif %}

					<li class="{{ active }}{% if link.submenu %} themeix-dropdown has-children{% endif %}">
						<a href="{{ link.url | relative_url }}">{{ link.text }}</a>

						{% if link.submenu %}						
							<ul class="themeix-dropdown-item" role="menu">
								{% for sublink in link.submenu %}
									<li {% if page.url contains sublink.url %}class="active"{% endif %}>
										<a href="{{ sublink.url | relative_url }}">{{ sublink.text }}</a>
									</li>
								{% endfor %}
							</ul>
						{% endif %}
					</li>
				{% endfor %}
			 	 <li>
            </div>
        </div>
    </div>
</header>
<!-- End Header Area -->
