<!-- Start Timeline Area -->
<div class="timeline-area bg-color1">
    <div class="timeline-wrapper section-spacing ">
        <div class="container">
            <div class="section-title">
                <h2 class="heading-2" id="future-roadmap">Usage</h2>
                <p>The environments and project the TSG is used in practice.</p>
            </div>

            <div class="timeline">
                <ul>
                    {% for roadmap in site.data.future_roadmap %}
                        <li>
                            <div class="timeline-content">
                                <div class="timeline-img">
                                    <img src="{{roadmap.logo}}" alt="{{roadmap.name}} logo"/>
                                </div>
                                <h4 class="heading-4">{{roadmap.name}}</h4>
                                <p class="timeline-time"><a href="{{roadmap.link}}" target="_blank">{{roadmap.link}}</a></p>
                                <p class="timeline-desc">{{roadmap.description | markdownify }}</p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Timeline Area -->
