/*--------------------------------------------------------------------------
Template Name: Doxy Responsive Jekyll Template
Template URI: https://themeix.com/product/doxy-documentation-website-jekyll-template/
Author Name: themeix
Author uri:  https://themeix.com
Tag: docs, documentation, knowledgebase, qa
Verson: 2.2
Description: Doxy is responsive docs template for the digital products authors
===========================
INDEX SASS
===========================
1.0 Variable
2.0 Prefix
3.0 Media Query
4.0 Base
5.0 Typography
6.0 Component
7.0 Header Area
8.0 Slider Area
9.0 Page Title Area
10.0 Service Area
11.0 Topics Area
12.0 Faq Area
13.0 Pupolar Article Area
14.0 Testimonial Area
15.0 Feature Area
16.0 Looking For Area
17.0 Help Area
18.0  Form Area
19.0 Changelog Area
20.0 Privacy Policy Area
21.0 Company Area
22.0 Blog Area
23.0 Sidebar Area
24.0 Layout Area
25.0 Footer Area


--------------------------*/

@import "base/variable";
@import "base/prefix";
@import "base/media_query";
@import "base/base";
@import "base/typography";
@import "base/component";


.container.large {
  @media (min-width: 576px) {
      max-width: 540px;
  }
  @media (min-width: 768px) {
      max-width: 720px;
  }
  @media (min-width: 992px) {
      max-width: 960px;
  }
  @media (min-width: 1200px) {
      max-width: 1140px;
  }
  @media (min-width: 1570px) {
      max-width: 1400px;
  }
}

@media (min-width: 1570px){
  /* expanding BS4 max-width */
  .container {max-width: 1540px;}

  /* grid columns xxl */
  .col-xxl {-ms-flex-preferred-size: 0; flex-basis: 0; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; max-width: 100%;}
  .col-xxl-auto {-webkit-box-flex: 0; -ms-flex: 0 0 auto; flex: 0 0 auto; width: auto; max-width: none;}  
  .col-xxl-1 {-webkit-box-flex: 0; -ms-flex: 0 0 8.333333%; flex: 0 0 8.333333%; max-width: 8.333333%;}
  .col-xxl-2 {-webkit-box-flex: 0; -ms-flex: 0 0 16.666667%; flex: 0 0 16.666667%; max-width: 16.666667%;}
  .col-xxl-3 {-webkit-box-flex: 0; -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%;}
  .col-xxl-4 {-webkit-box-flex: 0; -ms-flex: 0 0 33.333333%; flex: 0 0 33.333333%; max-width: 33.333333%;}
  .col-xxl-5 {-webkit-box-flex: 0; -ms-flex: 0 0 41.666667%; flex: 0 0 41.666667%; max-width: 41.666667%;}
  .col-xxl-6 {-webkit-box-flex: 0; -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%;}
  .col-xxl-7 {-webkit-box-flex: 0; -ms-flex: 0 0 58.333333%; flex: 0 0 58.333333%; max-width: 58.333333%;}
  .col-xxl-8 {-webkit-box-flex: 0; -ms-flex: 0 0 66.666667%; flex: 0 0 66.666667%; max-width: 66.666667%;}
  .col-xxl-9 {-webkit-box-flex: 0; -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%;}
  .col-xxl-10 {-webkit-box-flex: 0; -ms-flex: 0 0 83.333333%; flex: 0 0 83.333333%; max-width: 83.333333%;}
  .col-xxl-11 {-webkit-box-flex: 0; -ms-flex: 0 0 91.666667%; flex: 0 0 91.666667%; max-width: 91.666667%;}
  .col-xxl-12 {-webkit-box-flex: 0; -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%;}
}

.image-modal {
  cursor: pointer;
}
#image-modal {
  > .modal-dialog {
    max-width: 90%;
    > .modal-content {
      img {
        max-height: 90vh;
        padding: 1rem;
      }
    }
  }
}

.doc-content {
  counter-reset: h2counter;
  h1 {
    counter-reset: h2counter;
  }
  h2 {
    counter-reset: h3counter;
    &:before {
      content: counter(h2counter) ".\0000a0\0000a0";
      counter-increment: h2counter;
    }
  }
  h3 {
    counter-reset: h4counter;
    &:before {
      content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
      counter-increment: h3counter;
    }
  }
  h4 {
    &:before {
      content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) ".\0000a0\0000a0";
      counter-increment: h4counter;
    }
  }
  ol > li {
    padding-left: 0.5em;
    &::marker {
      font-weight: $font-weight-bold;
    }
  }
  h3 {
    font-size: 1.5rem
  }
  a > code {
    word-break: normal;
  }
  code.no-break {
    word-break: normal;
  }
  table {
    margin: 1rem;
    > thead {
      color: $font-color3;
      background: $bg-color3;
      th {
          border-bottom: 3px solid darken($bg-color3, 10%);
      }
    }
    > tbody {
      td {
          border-bottom: 1px solid rgba(0,0,0,0.2);
      }
      tr:nth-child(even) {
          background: rgba(0,0,0,0.01);
      }
    }
    td, th {
      padding: 0.5rem;
    }
  }
  .highlight {
    margin-bottom: 0.5rem;
    padding: 0.25rem 1rem;
  }
  *:not(p) + h2, *:not(p) + h3, *:not(p) + h4 {
    padding-top: 1rem;
  }
}

.highlighter-rouge > .highlight {
  position: relative;
  > .highlight > code {
    padding-right: 4rem
  }
  &::after, &::before {
    position: absolute;
    color: white;
    top: 0;
    right: 0;
    cursor: pointer;
    background: rgb(64,65,69);
    overflow: hidden;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
  &::after {
    content: 'Copy';
    -webkit-box-shadow: 0px 0px 15px 10px rgb(64,65,69);
    box-shadow: 0px 0px 15px 10px rgb(64,65,69);
    padding-left: 1rem;
    padding-right: 1rem;
  }
  &::before {
    content: 'Copied';
    padding-left: 0.7rem;
    padding-right: 0.5rem;
    transition: opacity 1s ease;
    opacity: 0;
    z-index: 1;
  }
  &[data-copied='copied']::before {
    opacity: 1;
    transition: opacity 0.2s ease;
  }
}

summary {
  color: var(--primary);
  border: 4px solid transparent;
  outline: none;
  padding: 1rem;
  display: block;
  /* color: white; */
  padding-left: 2.2rem;
  position: relative;
  cursor: pointer;
  margin-left: -10px;
}

details {
  box-sizing: border-box;
  margin-top: 5px;
  padding-left: 10px;
  border-left: 1px solid var(--secondary);
  background: var(--light);
}

details summary::-webkit-details-marker {
  display: none;
}

details[open] > summary:before {
  transform: rotate(90deg);
}

summary:before {
  content: '';
  border-width: .4rem;
  border-style: solid;
  border-color: transparent transparent transparent var(--primary);
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  transform: rotate(0);
  transform-origin: .2rem 50%;
  transition: .25s transform ease;
}

/**
* ============================
*  7.0 Header Area
* ============================
*/

.header-area {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: $padding-small;
  @include mobile {
    padding-top: 10px;
  }
}
.header-navigation {
  position: relative;
  z-index: 2222;
  display: table;
  width: 100%;
  .navigation-box {
    .navigation-navbar {
      float: right;
      .menu-collapser {
        background: transparent;
        color: transparent;
        .collapse-button {
          background: transparent;
          position: absolute;
          top: 32px;
          right: 0px;
          @include mobile {
            top: 30px;
          }
          .icon-bar {
            width: 25px;
            margin: 5px 0;
            background-color: $bg-color-default;
          }
        }
      }
    }
    .navigation-left {
      float: left;
    }
    .navigation-right {
      float: right;
    }
    .header-logo {
      display: block;
      img {
        height: 5rem;
      }
      @include mobile {
        margin: 8px 0;
        width: 110px;
      }
    }
    #navigation-menu {
      @include desktop {
        box-shadow: $box-shadow;
        position: absolute;
        left: 0;
        right: 0;
        background: $bg-color-default;
        padding: 0 $margin-small;
        top: 83px;
        @include mobile {
          top: 63px;
        }
      }
      @include tablet {
        box-shadow: $box-shadow;
        position: absolute;
        left: 0;
        right: 0;
        background: $bg-color-default;
        padding: 0 $margin-small;
        top: 83px;
        @include mobile {
          top: 63px;
        }
      }
      li {
        border: 0;
        background-color: transparent;
        .nav-search {
          padding-right: 0;
          cursor: pointer;
          img {
            width: 20px;
            top: -2px;
            position: relative;
          }
          @include desktop {
            display: none;
          }
          @include tablet {
            display: none;
          }
        }
        &.active a {
          border-bottom: 1px solid white;
        }
        a {
          font-size: $font-size-default;
          line-height: $line-height-default;
          padding: $margin-small;
          color: $font-color4;
          font-weight: $font-weight-default;
          @include desktop {
            padding: 10px 15px 10px 15px;
            color: $font-color-default;
          }
          @include tablet {
            padding: 10px 15px 10px 15px;
            color: $font-color-default;
          }
          &:hover,
          &:focus {
            background-color: transparent;
            opacity: 0.9;
          }
        }
        &.has-submenu {
          a {
            padding: 15px 30px 15px 15px;
            @include desktop {
              padding: 10px 15px 10px 15px;
            }
            @include tablet {
              padding: 10px 15px 10px 15px;
            }
          }
          ul {
            background-color: $bg-color-default;
            min-width: 200px;
            position: absolute;
            &:before {
              content: "";
              position: absolute;
              left: 24px;
              top: -10px;
              width: 0;
              height: 0;
              border-left: 15px solid transparent;
              border-right: 15px solid transparent;
              border-bottom: 20px solid $bg-color-default;

              transition: all 0.5s ease 0s;
            }
            @include desktop {
              position: relative;
              left: 0;
              background-color: $bg-color-default;
            }
            @include tablet {
              position: relative;
              left: 0;
              background-color: $bg-color-default;
            }
            li {
              transition: all 0.5s ease 0s;
              float: none;
              display: block;
              &:last-child a {
                border-bottom: 0;
              }
              a {
                padding: 10px $margin-small;
                border-bottom: $border-solid $border-color;
                color: $font-color-default;
              }
              &:hover {
                border-left: 4px solid $border-color;
              }
              @include desktop {
                &:hover {
                  border: 0;
                }
              }
              @include tablet {
                &:hover {
                  border: 0;
                }
              }
            }
          }
        }
        .sub-toggle {
          background: transparent;
          width: 20px;
          @include desktop {
            width: 100%;
            text-align: right;
          }
          @include tablet {
            width: 100%;
            text-align: right;
          }
          i {
            color: transparent;
            position: relative;
            &:before {
              content: "\f107";
              font-family: "FontAwesome";
              position: absolute;
              color: $font-color4;
              font-style: normal;
              @include desktop {
                color: $font-color-default;
              }
              @include tablet {
                color: $font-color-default;
              }
            }
          }
        }
      }
    }
  }
}

#modal {
  button[type="button"] {
    background: $bg-color-default;
    color: $font-color2;
  }
}
.modal-search-form {
  border: 1px solid #ddd;
  input[type="text"] {
    border-radius: 0;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    background-color: $bg-color-default;
    border: 0;
    padding: $margin-small $margin-default;
  }
  button {
    border-radius: 0;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    border: 0;
    background-color: $bg-color-default;
    padding: $margin-small $margin-default;
    color: $font-color3;
    &:hover,
    &:focus,
    &:active {
      background-color: $bg-color-default !important;
      color: $font-color3 !important;
    }
  }
}

.tag-widget {
  margin: 0;
  a {
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 30px;
    color: $font-color-default;
    font-weight: 400;
    background-color: #f2f6fb;
    border-radius: 0;
    padding: 8px 30px !important;
    display: inline-block;
    text-transform: capitalize;
    &:hover {
      color: #ffffff;
      background-color: $bg-color2;
    }
  }
}

/**
* ============================
*  8.0 Slider Area
* ============================
*/

#particles-js {
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 5;
}
.slider-carousel {
  z-index: 22;
}
.slider-wrapper {
  padding-top: 250px;
  padding-bottom: 250px;
  @include tablet {
    padding-top: 150px;
    padding-bottom: 180px;
  }
  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 4;
    background: $overlay-color;
  }
}
.full-padding {
  padding: 300px 0;
  @include tablet {
    padding: 200px 0;
  }
}
.slider-search-form {
  input[type="text"] {
    border-radius: 0;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    border: 0;
    background-color: $bg-color-default;
    padding: $margin-small $margin-default;
  }
  button {
    border-radius: 0;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    border: 0;
    background-color: $bg-color-default;
    padding: $margin-small $margin-default;
    color: $font-color3;
    &:hover,
    &:focus,
    &:active {
      background-color: $bg-color-default !important;
      color: $font-color3 !important;
    }
  }
}
.slider-content {
  top: 30%;
  position: relative;
  z-index: 22;
  h1,
  h2 {
    font-weight: $font-weight-thin;
    color: $font-color4;
    margin-bottom: $margin-large;
    span {
      font-weight: $font-weight-bold;
    }
  }
  h3,
  h4 {
    font-weight: $font-weight-thin;
    color: $font-color4;
    margin-bottom: $margin-default;
    span {
      font-weight: $font-weight-bold;
    }
  }
  .btn {
    padding: 15px 30px;
    background-color: $bg-color-default;
    color: $font-color2;
  }
}
/**
* ============================
*  9.0 Page Title Area
* ============================
*/
.page-title-wrapper {
  max-width: 900px;
  margin: auto;
  padding-top: 150px;
  padding-bottom: 100px;
  @include desktop {
    max-width: 700px;
  }
  @include tablet {
    max-width: 750px;
    padding-top: 150px;
    padding-bottom: 100px;
  }
}
.page-title {
  position: relative;
  z-index: 22;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}
.page-title-meta {
  margin: 0;
  margin-top: $margin-small;
  li {
    padding-right: 10px;
    img {
      width: 16px;
      margin-right: 10px;
      position: relative;
      bottom: 2px;
    }
  }
}
/**
* ============================
*  10.0 Service Area
* ============================
*/
.section-title {
  margin-bottom: 50px;
}
.white-text {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  ul,
  p,
  span,
  *,
  *::before,
  *::after {
    color: $font-color4 !important;
  }
  a:hover,
  a:focus {
    opacity: 0.8;
  }
}
.service-box {
  padding: $padding-small;
  border: $border-solid $border-color;
  box-shadow: $box-shadow-default;
  text-align: center;
  margin-bottom: $margin-default;
  transition: all 0.5s ease 0s;
  .service-logo {
    margin-bottom: 20px;
    .service-icon {
      img {
        transition: all 0.5s ease 0s;
      }
    }
  }
  .service-content {
    h4 {
      position: relative;
    }
    p {
      margin: 0;

      transition: all 0.5s ease 0s;
    }
  }
  &:hover {
    box-shadow: $box-shadow;
    border-color: $border-color2;
    .service-icon {
      img {
        transform: matrix(0.9, 0, 0, 0.9, 0, 0);
        -ms-transform: matrix(0.9, 0, 0, 0.9, 0, 0);
        -webkit-transform: matrix(0.9, 0, 0, 0.9, 0, 0);
      }
    }
  }
}

/**
* ============================
*  11.0 Topics Area
* ============================
*/
.topics-service {
  border: $border-solid $border-color;
  box-shadow: $box-shadow-default;
  margin-bottom: $margin-default;
  padding: $padding-small;
  transition: all 0.5s ease 0s;
  position: relative;
  z-index: 1;
  .topics-title {
    position: relative;
    margin-bottom: 40px;
    &:before {
      content: "";
      width: 30px;
      height: 2px;
      background-color: $font-color3;
      display: block;
      bottom: -14px;
      position: absolute;
    }
  }
  .topics-list {
    margin: 0;
    li {
      margin-bottom: 5px;
      position: relative;
      padding-left: 25px;
      &:before {
        content: "\f02d";
        font-family: "FontAwesome";
        color: #b8babb;
        position: relative;
        position: absolute;
        left: 0;
        margin-top: 2px;
      }
    }
  }
  &:hover {
    transform: matrix(1, 0, 0, 1, 0, -5);
    -ms-transform: matrix(1, 0, 0, 1, 0, -5);
    -webkit-transform: matrix(1, 0, 0, 1, 0, -5);
    box-shadow: $box-shadow;
    border-color: $border-color2;
    .topics-title {
      &:before {
        width: 60px;
      }
    }
  }
}

.topics-area2 {
  .topics-wrapper {
    z-index: 4;
    position: relative;
  }
  .topics-service {
    padding: 0;
    border: 0;
    &:before {
      display: none;
    }
    &:hover {
      transform: none;
    }
    .topics-title {
      margin-bottom: 20px;
      &:before {
        display: none;
      }
    }
    .topics-list {
      li {
        &:before {
          content: "\f101";
          font-size: 18px;
          transition: all 0.5s ease 0s;
        }
        &:hover:before {
          padding-left: 5px;
        }
      }
    }
  }
}

.topics-page-content .bminus-30 {
  padding-bottom: 0;
}

/**
* ============================
*  12.0 Faq Area
* ============================
*/
.faq-service {
  box-shadow: $box-shadow;
  padding: $padding-small;
  margin-bottom: $margin-default;
  border: $border-solid $border-color;
  display: table;

  transition: all 0.5s ease 0s;
  width: 100%;
  .faq-logo {
    float: left;
    transition: all 0.5s ease 0s;
    .logo-text {
      font-size: 30px;
      line-height: 40px;
      font-weight: $font-weight-semi;
      color: $font-color4;
      text-align: center;
      padding: 15px 5px;
      background-color: $bg-color2;
      width: 70px;
      border-radius: 50%;

      height: 70px;
    }
    .logo-image {
      font-size: 30px;
      line-height: 40px;
      font-weight: $font-weight-semi;
      color: $font-color3;
      text-align: center;
      background: $bg-color3;
      width: 45px;
      height: auto;
      img {
        padding: 8px;
      }
    }
    @include mobile {
      display: none;
    }
  }
  .faq-content {
    float: right;
    width: calc(100% - 45px);
    padding-left: 20px;
    p {
      margin: 0;
    }
    @include mobile {
      width: 100%;
      padding: 0;
    }
  }
}

.faq-accordion {
  margin-top: $margin-small;
  .card {
    border: 0;
    .card-header {
      background-color: $bg-color2;
      button[type="button"] {
        color: $font-color4;
      }
    }
  }
}

/**
* ============================
*  15.0 Feature Area
* ============================
*/
.feature-box {
  box-shadow: $box-shadow;
  padding: $padding-small;
  text-align: center;
  border: $border-solid transparent;
  margin-bottom: $margin-default;
  .feature-logo {
    position: relative;
    margin: auto;
    margin-bottom: $margin-small;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: $bg-color2;

    transition: all 0.2s ease 0s;
    .feature-icon {
      img {
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        margin: auto;
        position: absolute;
      }
      i {
        font-size: 20px;
        color: $font-color4;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 28px;
        height: 20px;
      }
    }
  }
  .feature-content {
    p {
      margin: 0;
    }
  }
  &:hover,
  .active {
    border: $border-solid $border-color;
    .feature-logo {
      transform: matrix(1.05, 0, 0, 1.05, 0, 0);
      -ms-transform: matrix(1.05, 0, 0, 1.05, 0, 0);
      -webkit-transform: matrix(1.05, 0, 0, 1.05, 0, 0);
    }
  }
}

/**
* ============================
*  16.0 Looking For Area
* ============================
*/
.looking-for-service {
  background-color: $bg-color-default;
  border: $border-solid $border-color;
  text-align: center;
  padding: 40px 30px;

  margin-bottom: $margin-default;
  transition: all 0.5s ease 0s;
  .looking-for-logo {
    margin-bottom: 25px;
    a {
      border-radius: 50px;
      background-color: $bg-color-default;
      width: 80px;
      height: 80px;

      border: $border-solid $border-color;
      display: block;
      margin: auto;
    }
    img {
      transition: all 0.5s ease 0s;
      padding: 13px 4px;
    }
    i {
      color: $font-color3;
      font-size: 3rem;
      padding-top: 0.75rem;
    }
  }
  .looking-for-content {
    h4 {
      margin-bottom: 20px;
    }
  }
  &:hover {
    background-color: $bg-color2;
    box-shadow: $box-shadow;
    .looking-for-logo {
      img {
        transform: matrix(0.9, 0, 0, 0.9, 0, 0);
        -ms-transform: matrix(0.9, 0, 0, 0.9, 0, 0);
        -webkit-transform: matrix(0.9, 0, 0, 0.9, 0, 0);
      }
    }
    h4 {
      a {
        color: $font-color4;
      }
    }
    p {
      color: $font-color4;
    }
    .btn {
      background-color: $bg-color-default;
      color: $hover-color;
    }
  }
}
/**
* ============================
*  17.0 Help Area
* ============================
*/

.help-section {
  @include tablet {
    margin-bottom: $margin-small;
    text-align: center;
  }
}
.help-btn {
  @include tablet {
    text-align: center !important;
    margin-bottom: 5px;
  }
}
/**
* ============================
*  18.0  Form Area
* ============================
*/
.sub-title {
  margin-bottom: $margin-default;
}
.form-action {
  border: 0;
  width: 100%;
  margin-bottom: $margin-default;
  .form-group {
    margin-bottom: $margin-small;
    .form-control {
      padding: 10px 15px;
      border-radius: $border-radius;
      box-shadow: $box-shadow-default;
      width: 100%;
      background-color: $bg-color-default;
      color: $placeholder-color;
      font-size: $font-size-default;
      line-height: $line-height-default;
      &:focus {
        border: $border-solid $hover-color;
      }
    }
    .form-check-input {
      margin-top: 8px;
    }
    button[type="submit"] {
      position: relative;
    }
    .input-label {
      margin-top: 5px;
      display: inline-block;
      font-size: 14px;
      color: $placeholder-color;
    }
  }
  .file-upload {
    position: relative;
    width: 100%;
    height: 45px;
    border: $border-solid $border-color;
    border-radius: $border-radius;
    &:after {
      content: attr(data-text);
      font-size: $font-size-default;
      line-height: $line-height-default;
      font-weight: $font-weight-default;
      color: $placeholder-color;
      position: absolute;
      top: 0;
      left: 0;
      background: $bg-color-default;
      padding: 6px 15px;
      display: block;
      width: calc(100% - 40px);
      pointer-events: none;
      z-index: 20;
      border-radius: $border-radius;
    }

    &:before {
      content: "\f0c1";
      font-family: "FontAwesome";
      position: absolute;
      top: 0;
      right: 0;
      display: inline-block;
      background: $bg-color-default;
      color: $font-color3;
      z-index: 25;
      font-size: $font-size-default;
      line-height: 40px;
      padding: 0 15px;
      text-transform: uppercase;
      pointer-events: none;
    }
    input {
      opacity: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 99;
      height: 45px;
      margin: 0;
      padding: 0;
      display: block;
      cursor: pointer;
      width: 100%;
    }
  }
}

.form-socials {
  margin: 0;
  li {
    a {
      width: 35px;
      height: 35px;
      display: block;
      border-radius: 50px;
      text-align: center;
      color: #fff;
      padding: 1px 0px;
      &:hover {
        opacity: 0.9;
      }
    }
  }
}
.contact-map {
  margin-bottom: $margin-default;
}

/**
* ============================
*  22.0 Blog Area
* ============================
*/

.blog-post {
  margin-bottom: $margin-default;
  .blog-img {
    position: relative;
    margin-bottom: 25px;
    overflow: hidden;
    img {
      width: 100%;
      -webkit-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in;
    }
    &:hover img {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
  .blog-content {
    margin-bottom: 0;
    h4 {
      margin-bottom: $margin-small;
    }
    p {
      margin-bottom: $margin-small;
    }
  }
  .blog-meta {
    li {
      padding-right: 10px;
      border-right: $border-solid $border-color;
      img {
        width: 16px;
        margin-right: 10px;
        position: relative;
        bottom: 2px;
      }

      &:last-child {
        border: 0;
      }
    }
  }
}

.blog-spacing {
  margin-bottom: $margin-large;
  @include desktop {
    margin-bottom: $margin-default;
  }
  @include tablet {
    margin-bottom: $margin-default;
  }
}

.page-navigation .pagination {
  margin: 0;
  li {
    margin-right: 10px;
    a {
      font-size: $font-size-default;
      line-height: $line-height-default;
      color: $font-color-default;
      border-radius: 0 !important;
      border: $border-solid $border-color;
      padding: 5px 30px;
    }
    &:first-child,
    &:last-child {
      a {
        background-color: $bg-color2;
        color: $font-color4;
      }
    }
  }
}

.single-post {
  .single-img {
    position: relative;
    margin-bottom: 25px;
    img {
      width: 100%;
    }
  }
  .single-content {
    margin-bottom: $margin-default;
    p {
      margin-bottom: $margin-default;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .single-quote {
    position: relative;
    padding-left: $margin-small;
    margin-bottom: $margin-default;
    p {
      font-size: $font-size-default;
      line-height: $line-height-default;
      margin: 0;
    }
    &:before {
      content: "";
      width: 2px;
      height: 100%;
      background-color: $bg-color2;
      position: absolute;
      top: 0;
      left: 0;
    }
    &:after {
      content: "";
      width: 24px;
      height: 25px;
      background-image: url(../images/post-qoute-icon.png);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: 0;
      left: 14px;
    }
  }
  .single-tags-share {
    display: table;
    width: 100%;
    background-color: $bg-color-default;
    margin-bottom: $margin-default;
    border-top: $border-solid $border-color;
    border-bottom: $border-solid $border-color;
    .single-tags {
      font-size: $font-size-default;
      line-height: $line-height-default;
      color: $font-color2;
      font-weight: 400;
      margin: 0;
      li:first-child {
        font-weight: 500;
      }
      a {
        color: $font-color-default;
        &:hover,
        &:focus {
          color: $hover-color;
        }
      }
      @include desktop {
        float: none !important;
        padding-bottom: 0;
        text-align: center;
      }
      @include tablet {
        float: none !important;
        padding-bottom: 0;
        text-align: center;
      }
    }
    .single-share {
      font-size: $font-size-default;
      line-height: $line-height-default;
      margin: 0;
      li:first-child {
        font-weight: 500;
        color: $font-color2;
      }
      a {
        color: $placeholder-color;
        &:hover,
        &:focus {
          color: $placeholder-color;
        }
      }
      @include desktop {
        text-align: center;
        float: none !important;
        padding-top: 0;
      }
      @include tablet {
        text-align: center;
        float: none !important;
        padding-top: 0;
      }
    }
  }
}

.single-admin {
  position: relative;
  display: table;
  width: 100%;
  margin-bottom: $margin-default;
  .admin-avatar {
    width: 130px;
    float: left;
    @include desktop {
      width: 100px;
    }
  }
  .admin-comment {
    width: calc(100% - 130px);
    float: left;
    padding-left: 25px;
    padding-top: 8px;
    p {
      margin-bottom: 20px;
    }
    h5 {
      margin: 0;
    }
    h6 {
      font-size: 14px;
      color: $placeholder-color;
      margin: 0;
    }
    @include desktop {
      width: calc(100% - 100px);
    }
  }
}

.page-pagination {
  .pagination {
    margin-bottom: 30px;
  }
  .next-btn,
  .prev-btn {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: $font-color-default;
    border-radius: 0;
    border: 0;
    padding: 0;
  }
  .next-btn:hover {
    color: $hover-color;
    background-color: transparent;
  }
  .prev-btn {
    &:hover {
      color: $hover-color;
      background-color: transparent;
    }
    i {
      margin-left: 10px;
    }
  }
  .next-btn i {
    margin-right: 5px;
  }
}
.single-comment {
  display: table;
  width: 100%;
  margin-bottom: 35px;
}

.comment-wrapper {
  padding-left: 50px;
}

.single-comment-img {
  width: 68px;
  float: left;
}

.single-comment-desc {
  width: calc(100% - 68px);
  float: left;
  padding-left: 15px;
  h6 {
    .single-priod {
      font-size: 14px;
      line-height: 30x;
      font-weight: 400;
      color: $placeholder-color;
      margin-left: 10px;
    }
  }
  p {
    margin-bottom: 8px;
  }
  .single-comment-btn {
    color: $hover-color;
    font-size: $font-size-default;
    line-height: $line-height-default;
  }
}

/**
* ============================
*  24.0 Layout Area
* ============================
*/
.layout-breadcrumb {
  .breadcrumb {
    background-color: $bg-color3;
    margin-bottom: $margin-default;
  }
}
.unorder-list {
  list-style: none;
  margin-bottom: $margin-default;
  li {
    margin-bottom: 5px;
    position: relative;
    padding-left: 20px;
    &:before {
      content: "\f111";
      font-family: "FontAwesome";
      color: $font-color3;
      position: relative;
      position: absolute;
      left: 0;
      margin-top: 2px;
      font-size: 11px;
    }
  }
}
.order-list {
  margin-bottom: $margin-default;
  list-style-position: inside;
  counter-reset: item;
  list-style-type: decimal-leading-zero;
  li {
    a {
      color: $font-color3;
    }
  }
}
.layout-wrapper p {
  margin-bottom: $margin-default;
}
.sidebar-menu {
  padding: $margin-small;
  background-color: $bg-color3;
  @include tablet {
    margin-bottom: $margin-default;
  }
  button {
    background-color: transparent;
    width: 100%;
    text-align: left;
    position: relative;
  }
  .sub-menu {
    padding-left: 30px;
    margin: 0;
  }
  [aria-expanded*="false"]:after {
    content: "\f105";
    font-family: "fontawesome";
    color: $font-color3;
    position: absolute;
    right: 0;
  }
  [aria-expanded*="true"]:after {
    content: "\f107";
    font-family: "fontawesome";
    color: $font-color3;
    position: absolute;
    right: 0;
  }
}

/**
* ============================
*  22.0 Timeline Area
* ============================
*/

.timeline ul {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    background: $bg-color3;
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 8px;
      transform: translateX(-50%);
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: inherit;
    }
    .timeline-content {
      position: relative;
      border: $border-solid $border-color;
      top: 0;
      min-width: 425px;
      padding: $margin-small $margin-default;
      background: $bg-color3;
      &::before {
        content: "";
        position: absolute;
        top: 7px;
        width: 0;
        height: 0;
        border-style: solid;
      }
      &:hover {
        box-shadow: $box-shadow;
      }
      .timeline-img {
        text-align: center;
      }
      .timeline-img > img {
        mix-blend-mode: multiply;
        width: 150px;
        height: 150px;
        margin: 0 auto;
      }
    }
    &:nth-child(even) .timeline-content {
      left: 35px;
      &::before {
        left: -15px;
        border-width: 15px 16px 15px 0;
        border-color: transparent $bg-color3 transparent transparent;
      }
    }
    &:nth-child(odd) .timeline-content {
      left: -470px;
      &::before {
        right: -15px;
        border-width: 15px 0 15px 16px;
        border-color: transparent transparent transparent $bg-color3;
      }
    }
  }
  h4 {
    margin-bottom: 0;
  }
  p {
    margin: 0;
  }
}

.timeline ul li {
  &:not(:first-child) {
    margin-top: -7em;
  }
  &::after {
    transition: background 0.5s ease-in-out;
  }
  &.in-view::after {
    background: $bg-color3;
  }
  .timeline-content {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  &:nth-child(even) .timeline-content {
    transform: translate3d(200px, 0, 0);

    margin-right: $margin-default;
  }
  &:nth-child(odd) .timeline-content {
    transform: translate3d(-200px, 0, 0);

    margin-left: $margin-small;
  }
  &.in-view .timeline-content {
    transform: none;
    visibility: visible;
    opacity: 1;
  }
}
@media screen and (min-width: 1200px) {
  .timeline ul li {
    .timeline-content {
      min-width: 525px !important;
    }
    &:nth-child(even) .timeline-content {
      left: 35px;
      /*525px+45-6*/
    }
    &:nth-child(odd) .timeline-content {
      left: -570px;
      /*525px+45-6*/
    }
  }
}

@media screen and (max-width: 991px) {
  .timeline ul li {
    .timeline-content {
      min-width: 300px !important;
    }
    &:nth-child(even) .timeline-content {
      left: 40px;
      // top: -8px;
      /*350px+45-6*/
    }
    &:nth-child(odd) .timeline-content {
      left: -350px;
      // top: -8px;
      /*350px+45-6*/
    }
  }
}

@media screen and (max-width: 767px) {
  .timeline ul li {
    margin-left: 1px;
    padding-top: 0;
    padding-bottom: 15px;
    background: transparent;
    width: 100%;
    &:not(:first-child) {
        margin-top: 0;
    }
    .timeline-content {
      width: 100%;
    }
    &:nth-child(even) .timeline-content {
      left: 0;
      margin: 0;
      overflow: hidden;
      padding: 15px;
    }
    &:nth-child(odd) .timeline-content {
      left: 0;
      margin: 0;
      overflow: hidden;
      padding: 15px;
      &::before {
        display: none;
      }
    }
    &:after {
      display: none;
    }
  }
}

/**
* ============================
*  25.0 Headline Area
* ============================
*/
.headline-wrapper {
  position: relative;
  bottom: 100px;
}
.headline-box {
  box-shadow: $box-shadow;
  border: $border-solid $border-color;
  position: relative;
  text-align: center;
  padding: $padding-small;
  z-index: 44;
  transition: all 0.5s ease 0s;
  background-color: $bg-color-default;
  @include desktop {
    margin-bottom: $margin-default;
  }
  @include tablet {
    margin-bottom: $margin-default;
  }
  .headline-logo {
    margin-bottom: $margin-default;
    i {
      color: $font-color3;
      font-size: 4rem;
    }
  }
  .headline-content {
    h4 {
      margin-bottom: $margin-small;
    }
    p {
      margin-bottom: $margin-default;
    }
  }
  &:hover {
    transform: matrix(1, 0, 0, 1, 0, -5);
    -ms-transform: matrix(1, 0, 0, 1, 0, -5);
    -webkit-transform: matrix(1, 0, 0, 1, 0, -5);
    box-shadow: $box-shadow;
    border-color: $border-color2;
  }
}

/**
* ============================
*  25.0 Footer Area
* ============================
*/

.footer-widget {
  margin-bottom: $margin-default;
}
.footer-title {
  position: relative;
  margin-bottom: 45px;
}
.footer-title:before {
  content: "";
  width: 45px;
  height: 1px;
  background-color: $font-color2;
  position: absolute;
  bottom: -15px;
  left: 0;
}

.footer-copyright p {
  margin: 0;
  padding-bottom: 40px;
}

.footer-copyright p a {
  color: $hover-color;
}
ul#results-container {
  margin: 0;
  list-style: none;
}
.modal-body {
  padding: 0.5rem;
}
.modal-content {
  border-radius: 0;
}
.revert-color .bg-color3 {
  background: #fff;
}

.revert-color .bg-color1 {
  background: #f2f6fb;
}
.item-id.active {
  opacity: 0;
  height: 0;
  @include transition(all 0.4s linear 0s)
}

.post-image {
  float: left;
  width: 122px;
  margin-right: 8px;
  a {
    display: block;
  }
}
.search-content {
  float: left;
  width: calc(100% - 130px);
  h3 {
    margin-bottom: 3px;
    a {
      color: #333;
      display: block;
      font-weight: 700;
      font-size: 18px;
      margin-top: 0px;
      display: table;
    }
  }
  p {
    margin: 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.8;
  }
}
div#results-container {
  float: left;
  width: 100%;
  background: #ffeded;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
}
.search-results {
  float: left;
  width: 100%;
  border-bottom: 1px solid #dedede;
  padding: 15px;
}
select:hover {
  cursor: pointer !important;
}

.topics-service-area {
  column-count: 3;
  column-gap: 30px;
  height: calc(100% - 2px);
  @include desktop {
    column-count: 2;
  }
  @include tablet {
    column-count: 1;
  }
  @include mobile {
    column-count: 1;
  }
  article {
    height: 100%;
    break-after: avoid;
    break-before: avoid;
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    overflow: visible;
  }
}

.doc-sidebar-menu {
  ul {
    list-style: none;
    padding: 0;
    display: block;
    ul {
      font-size: 0.9rem;
      padding-left: 0.75rem;
    }
  }
  li a {
    border-bottom: 1px solid darken($bg-color3, 10%);
    display: block;
    padding: 5px 5px 5px 10px;
    background: $bg-color3;
    line-height: 2;
    @include transition(0.1s ease);
    &.active {
      font-weight: bold;
    }
  }
}
.tutorial {
  .sidebar {
    display: none;
    padding: 0;
    position: absolute;
    top: 0;
    width: 280px;
  }
  h2 {
    margin-top: 40px;
  }
}
@media (min-width: 768px) {
  .tutorial-content {
    margin-left: 300px;
  }
  .tutorial .sidebar {
    display: block;
  }
}
h2 a.header-link, h3 a.header-link, h4 a.header-link {
  text-decoration: none;
  color: #ccc;
  opacity: 0;
  transition: opacity ease 0.2s, color ease 0.2s;
  vertical-align: bottom;
  margin: 0 0 0 5px;
  &:hover {
    color: #4a4a4a;
    opacity: 0.4;
    transition: opacity ease 0.2s, color ease 0.2s;
  }
}
.doc-content a {
  color: lighten($hover-color, 20%);
  &:hover {
    color: $hover-color;
  }
}
.doc-content blockquote {
  padding: 0 1rem;
  border-left: rgba(0,0,0,0.2) solid 4px;
  background: rgba(0,0,0,0.03);
}
div#table-of-contents {
  background: $bg-color3;
  li:not(.active) > .submenu-class {
      display: none;
  }
  li.active > .submenu-class {
      display: block;
  }
}
div#modal {
  background: #fff;
}

.custom-links,
.doc-right-sidebar {
  position: sticky;
  top: 30px;
}

.custom-links {
  background: $bg-color3;
  padding: 15px;
  border-radius: 2px;
  margin-bottom: 30px;

  ul {
    margin-top: 18px;

    .display-dropdown {
      .sub-dropdown {
        display: block;
      }

      a {
        .fa {
          transform: rotate(90deg);
        }
      }
    }

    li {
      position: relative;
      
      &.active > a {
        border-left: 1px solid $hover-color;
      }

      ul.sub-dropdown {
        padding: 0px;
        margin: 0px;
        list-style: none;
        margin-left: 15px;
        font-size: 14px;
        display: none;
      }
      i {
        text-align: center;
        position: absolute;
        right: -10px;
        top: 5px;
        border: 1px solid #ddd;
        width: 25px;
        display: inline-block;
        height: 25px;
        line-height: 1.4;
        cursor: pointer;
        border-radius: 50%;
        color: $hover-color;
        transition: all ease 0.2s;
        &:hover {
          background: $hover-color;
          border-color: $hover-color;
          color: $font-color4;
          transition: all ease 0.2s;
        }
      }

      a {
        line-height: 1.8;
        margin-left: -1px;
        display: block;
        padding-left: 10px;
        line-height: 1.7;
        padding-top: 6px;
        padding-bottom: 6px;
      }
    }
  }
}

.tutorial-content.mx-auto {
  margin: 0px;
}
