@charset "UTF-8";
/*--------------------------------------------------------------------------
Template Name: Doxy Responsive Jekyll Template
Template URI: https://themeix.com/product/doxy-documentation-website-jekyll-template/
Author Name: themeix
Author uri:  https://themeix.com
Tag: docs, documentation, knowledgebase, qa
Verson: 2.2
Description: Doxy is responsive docs template for the digital products authors
===========================
INDEX SASS
===========================
1.0 Variable
2.0 Prefix
3.0 Media Query
4.0 Base
5.0 Typography
6.0 Component
7.0 Header Area
8.0 Slider Area
9.0 Page Title Area
10.0 Service Area
11.0 Topics Area
12.0 Faq Area
13.0 Pupolar Article Area
14.0 Testimonial Area
15.0 Feature Area
16.0 Looking For Area
17.0 Help Area
18.0  Form Area
19.0 Changelog Area
20.0 Privacy Policy Area
21.0 Company Area
22.0 Blog Area
23.0 Sidebar Area
24.0 Layout Area
25.0 Footer Area


--------------------------*/
/**
* ============================
*  1.0 Variable
* ============================
*/
/* Color */
/* Typography */
/* Border */
/* Componet */
/**
* ============================
*  2.0 Prefix
* ============================
*/
/**
* ============================
*  3.0 Media Query
* ============================
*/
/**
* ============================
*  4.0 Base Sass
* ============================
*/
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #404040;
  background-size: cover !important;
  overflow-x: hidden;
}

ul, ol {
  padding: 0;
  padding-left: 20px;
}
ul ul p, ul ol p, ol ul p, ol ol p {
  margin: 0;
}

img {
  max-width: 100%;
}

.btn, a {
  box-shadow: none !important;
  outline: none;
  text-decoration: none;
  list-style: none;
}

.form-control {
  height: auto;
}

a {
  color: #0D65B0;
  -webkit-transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  -ms-transform: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  text-decoration: none !important;
}
a:hover {
  color: #084375;
}

ul li, ol li {
  line-height: 36px;
}

button:hover,
button:active,
button:focus,
a.btn:active,
a.btn:focus,
a.btn:hover {
  box-shadow: none !important;
  outline: none;
}

.input-group .form-control:active,
.input-group .form-control:focus,
.input-group .form-control:hover {
  z-index: 2;
}

.input-group-btn:not(:first-child) > .btn-group:active,
.input-group-btn:not(:first-child) > .btn-group:focus,
.input-group-btn:not(:first-child) > .btn-group:hover,
.input-group-btn:not(:first-child) > .btn:active,
.input-group-btn:not(:first-child) > .btn:focus,
.input-group-btn:not(:first-child) > .btn:hover {
  z-index: 1;
}

.form-control:focus {
  box-shadow: none;
  outline: none;
}

select.form-control:not([size]):not([multiple]) {
  height: 100%;
}

figure {
  padding-left: 15px;
}
figure figcaption {
  margin-top: 10px;
}
@media (max-width: 575px) {
  figure {
    padding: 5px;
  }
}

iframe {
  border: 0;
  width: 100%;
}

.loading-main {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  background-color: #226CBC;
}

.pre-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.pre-loader .text {
  color: #ffffff;
  display: inline-block;
  margin-left: 5px;
}

.pre-loader .bounceball {
  position: relative;
  display: inline-block;
  height: 37px;
  width: 15px;
}
.pre-loader .bounceball:before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  transform-origin: 50%;
  animation: bounce 500ms alternate infinite ease;
}

@keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
  }
  35% {
    height: 15px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}
.home-top {
  width: 40px;
  height: 40px;
  background-color: #0D65B0;
  position: fixed;
  right: 30px;
  bottom: 30px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  padding: 4px 5px;
}
.home-top:hover {
  color: #ffffff;
}

/**
* ============================
*  5.0 Typography
* ============================
*/
::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #777777;
  font-weight: 400;
}

:-moz-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #777777;
  font-weight: 400;
}

::-o-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #777777;
  font-weight: 400;
}

:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #777777;
  font-weight: 400;
}

h1, h2, h3 {
  color: #000000;
  font-weight: 600;
}

h4, h5, h6 {
  color: #000000;
  font-weight: 500;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #000000;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: #084375;
}

.heading-1 {
  font-size: 46px;
  line-height: 56px;
}
@media (max-width: 768px) {
  .heading-1 {
    font-size: 36px;
    line-height: 40px;
  }
}

.heading-2 {
  font-size: 40px;
  line-height: 50px;
}
@media (max-width: 768px) {
  .heading-2 {
    font-size: 34px;
    line-height: 36px;
  }
}

.heading-3 {
  font-size: 30px;
  line-height: 36px;
}
@media (max-width: 768px) {
  .heading-3 {
    font-size: 26px;
    line-height: 30px;
  }
}

.heading-4 {
  font-size: 21px;
  line-height: 27px;
}
@media (max-width: 768px) {
  .heading-4 {
    font-size: 17px;
    line-height: 21px;
  }
}

.heading-5 {
  font-size: 20px;
  line-height: 26px;
}
@media (max-width: 768px) {
  .heading-5 {
    font-size: 18px;
  }
}

.heading-6 {
  font-size: 16px;
  line-height: 20px;
}

/**
* ============================
*  6.0 Component
* ============================
*/
/*Bg Color*/
.bg-color1 {
  background-color: #ffffff;
}

.bg-color2 {
  background-color: #0D65B0;
}

.bg-color3 {
  background-color: #f2f6fb;
}

/*Spacing*/
.section-spacing {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .section-spacing {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (max-width: 768px) {
  .section-spacing {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.inner-spacing {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (max-width: 768px) {
  .inner-spacing {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.bminus-30 {
  padding-bottom: 70px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .bminus-30 {
    padding-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .bminus-30 {
    padding-bottom: 30px;
  }
}

.tminus-30 {
  padding-top: 70px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .tminus-30 {
    padding-top: 50px;
  }
}
@media (max-width: 768px) {
  .tminus-30 {
    padding-top: 30px;
  }
}

/*Overlay Color*/
.bg-transparent {
  background: transparent;
}

.bg-cover1 {
  background: url(../images/bg-pattern.svg) 50% no-repeat, linear-gradient(60deg, #084375, rgb(14.528, 121.672, 212.472));
}

.bg-cover2 {
  background: url(../images/bg-pattern2.svg) 50% no-repeat, linear-gradient(0deg, #084375, rgb(1.472, 12.328, 21.528));
}

.overlay-color {
  background: #0D65B0; /* The Fallback */
  background: rgba(13, 101, 176, 0.9);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
}

.overlay-color2 { /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(12, 98, 175, 0.9) 0%, rgba(162, 64, 140, 0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#e60c62af", endColorstr="#e6a2408c",GradientType=0 ); /* IE6-9 */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
}

/*All Section*/
[class*=area] {
  position: relative;
  background-size: cover;
  background-position: center;
}

/*Button Style*/
.btn-style1 {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding: 15px 30px;
  font-weight: 600;
  color: #000000;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  overflow: hidden;
}
.btn-style1:hover, .btn-style1:focus, .btn-style1:active {
  color: #0D65B0;
  background-color: #ffffff;
  border: 1px solid #0D65B0;
}

.btn-style2 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  Transform: perspective 1px translates 0;
  position: relative;
  padding: 15px 30px;
  color: #ffffff;
  border-radius: 4px;
  background-color: #0D65B0;
  transition-property: color;
  transition-duration: 0.3s;
  font-weight: 600;
  border: 1px solid rgba(0, 1, 1, 0.01);
  overflow: hidden;
}
.btn-style2:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
  transform: scaleY(0);
  transform-origin: 50% 100%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.btn-style2:hover, .btn-style2:focus, .btn-style2:active {
  color: #0D65B0;
  border: 1px solid rgba(0, 1, 1, 0.01);
}
.btn-style2:hover:before, .btn-style2:focus:before, .btn-style2:active:before {
  transform: scaleY(1);
}

.btn-style3 {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding: 12px 30px;
  font-weight: 600;
  color: #ffffff;
  border-radius: 50px;
  background-color: #0D65B0;
  border: 1px solid #ffffff;
  overflow: hidden;
}
.btn-style3:hover, .btn-style3:focus, .btn-style3:active {
  color: #0D65B0 !important;
  background-color: #ffffff;
  border: 1px solid #0D65B0;
}

@media (min-width: 576px) {
  .container.large {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container.large {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container.large {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container.large {
    max-width: 1140px;
  }
}
@media (min-width: 1570px) {
  .container.large {
    max-width: 1400px;
  }
}

@media (min-width: 1570px) {
  /* expanding BS4 max-width */
  .container {
    max-width: 1540px;
  }
  /* grid columns xxl */
  .col-xxl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-xxl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-xxl-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-xxl-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-xxl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-xxl-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-xxl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-xxl-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-xxl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-xxl-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-xxl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.image-modal {
  cursor: pointer;
}

#image-modal > .modal-dialog {
  max-width: 90%;
}
#image-modal > .modal-dialog > .modal-content img {
  max-height: 90vh;
  padding: 1rem;
}

.doc-content {
  counter-reset: h2counter;
}
.doc-content h1 {
  counter-reset: h2counter;
}
.doc-content h2 {
  counter-reset: h3counter;
}
.doc-content h2:before {
  content: counter(h2counter) ".  ";
  counter-increment: h2counter;
}
.doc-content h3 {
  counter-reset: h4counter;
}
.doc-content h3:before {
  content: counter(h2counter) "." counter(h3counter) ".  ";
  counter-increment: h3counter;
}
.doc-content h4:before {
  content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) ".  ";
  counter-increment: h4counter;
}
.doc-content ol > li {
  padding-left: 0.5em;
}
.doc-content ol > li::marker {
  font-weight: 700;
}
.doc-content h3 {
  font-size: 1.5rem;
}
.doc-content a > code {
  word-break: normal;
}
.doc-content code.no-break {
  word-break: normal;
}
.doc-content table {
  margin: 1rem;
}
.doc-content table > thead {
  color: #0D65B0;
  background: #f2f6fb;
}
.doc-content table > thead th {
  border-bottom: 3px solid #cbdbef;
}
.doc-content table > tbody td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.doc-content table > tbody tr:nth-child(even) {
  background: rgba(0, 0, 0, 0.01);
}
.doc-content table td, .doc-content table th {
  padding: 0.5rem;
}
.doc-content .highlight {
  margin-bottom: 0.5rem;
  padding: 0.25rem 1rem;
}
.doc-content *:not(p) + h2, .doc-content *:not(p) + h3, .doc-content *:not(p) + h4 {
  padding-top: 1rem;
}

.highlighter-rouge > .highlight {
  position: relative;
}
.highlighter-rouge > .highlight > .highlight > code {
  padding-right: 4rem;
}
.highlighter-rouge > .highlight::after, .highlighter-rouge > .highlight::before {
  position: absolute;
  color: white;
  top: 0;
  right: 0;
  cursor: pointer;
  background: rgb(64, 65, 69);
  overflow: hidden;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.highlighter-rouge > .highlight::after {
  content: "Copy";
  box-shadow: 0px 0px 15px 10px rgb(64, 65, 69);
  padding-left: 1rem;
  padding-right: 1rem;
}
.highlighter-rouge > .highlight::before {
  content: "Copied";
  padding-left: 0.7rem;
  padding-right: 0.5rem;
  transition: opacity 1s ease;
  opacity: 0;
  z-index: 1;
}
.highlighter-rouge > .highlight[data-copied=copied]::before {
  opacity: 1;
  transition: opacity 0.2s ease;
}

summary {
  color: var(--primary);
  border: 4px solid transparent;
  outline: none;
  padding: 1rem;
  display: block;
  /* color: white; */
  padding-left: 2.2rem;
  position: relative;
  cursor: pointer;
  margin-left: -10px;
}

details {
  box-sizing: border-box;
  margin-top: 5px;
  padding-left: 10px;
  border-left: 1px solid var(--secondary);
  background: var(--light);
}

details summary::-webkit-details-marker {
  display: none;
}

details[open] > summary:before {
  transform: rotate(90deg);
}

summary:before {
  content: "";
  border-width: 0.4rem;
  border-style: solid;
  border-color: transparent transparent transparent var(--primary);
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  transform: rotate(0);
  transform-origin: 0.2rem 50%;
  transition: 0.25s transform ease;
}

/**
* ============================
*  7.0 Header Area
* ============================
*/
.header-area {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 30px;
}
@media (max-width: 575px) {
  .header-area {
    padding-top: 10px;
  }
}

.header-navigation {
  position: relative;
  z-index: 2222;
  display: table;
  width: 100%;
}
.header-navigation .navigation-box .navigation-navbar {
  float: right;
}
.header-navigation .navigation-box .navigation-navbar .menu-collapser {
  background: transparent;
  color: transparent;
}
.header-navigation .navigation-box .navigation-navbar .menu-collapser .collapse-button {
  background: transparent;
  position: absolute;
  top: 32px;
  right: 0px;
}
@media (max-width: 575px) {
  .header-navigation .navigation-box .navigation-navbar .menu-collapser .collapse-button {
    top: 30px;
  }
}
.header-navigation .navigation-box .navigation-navbar .menu-collapser .collapse-button .icon-bar {
  width: 25px;
  margin: 5px 0;
  background-color: #ffffff;
}
.header-navigation .navigation-box .navigation-left {
  float: left;
}
.header-navigation .navigation-box .navigation-right {
  float: right;
}
.header-navigation .navigation-box .header-logo {
  display: block;
}
.header-navigation .navigation-box .header-logo img {
  height: 5rem;
}
@media (max-width: 575px) {
  .header-navigation .navigation-box .header-logo {
    margin: 8px 0;
    width: 110px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-navigation .navigation-box #navigation-menu {
    box-shadow: 0 0 20px 5px rgba(33, 107, 188, 0.03);
    position: absolute;
    left: 0;
    right: 0;
    background: #ffffff;
    padding: 0 15px;
    top: 83px;
  }
}
@media (min-width: 768px) and (max-width: 991px) and (max-width: 575px) {
  .header-navigation .navigation-box #navigation-menu {
    top: 63px;
  }
}
@media (max-width: 768px) {
  .header-navigation .navigation-box #navigation-menu {
    box-shadow: 0 0 20px 5px rgba(33, 107, 188, 0.03);
    position: absolute;
    left: 0;
    right: 0;
    background: #ffffff;
    padding: 0 15px;
    top: 83px;
  }
}
@media (max-width: 768px) and (max-width: 575px) {
  .header-navigation .navigation-box #navigation-menu {
    top: 63px;
  }
}
.header-navigation .navigation-box #navigation-menu li {
  border: 0;
  background-color: transparent;
}
.header-navigation .navigation-box #navigation-menu li .nav-search {
  padding-right: 0;
  cursor: pointer;
}
.header-navigation .navigation-box #navigation-menu li .nav-search img {
  width: 20px;
  top: -2px;
  position: relative;
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-navigation .navigation-box #navigation-menu li .nav-search {
    display: none;
  }
}
@media (max-width: 768px) {
  .header-navigation .navigation-box #navigation-menu li .nav-search {
    display: none;
  }
}
.header-navigation .navigation-box #navigation-menu li.active a {
  border-bottom: 1px solid white;
}
.header-navigation .navigation-box #navigation-menu li a {
  font-size: 16px;
  line-height: 30px;
  padding: 15px;
  color: #ffffff;
  font-weight: 400;
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-navigation .navigation-box #navigation-menu li a {
    padding: 10px 15px 10px 15px;
    color: #404040;
  }
}
@media (max-width: 768px) {
  .header-navigation .navigation-box #navigation-menu li a {
    padding: 10px 15px 10px 15px;
    color: #404040;
  }
}
.header-navigation .navigation-box #navigation-menu li a:hover, .header-navigation .navigation-box #navigation-menu li a:focus {
  background-color: transparent;
  opacity: 0.9;
}
.header-navigation .navigation-box #navigation-menu li.has-submenu a {
  padding: 15px 30px 15px 15px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-navigation .navigation-box #navigation-menu li.has-submenu a {
    padding: 10px 15px 10px 15px;
  }
}
@media (max-width: 768px) {
  .header-navigation .navigation-box #navigation-menu li.has-submenu a {
    padding: 10px 15px 10px 15px;
  }
}
.header-navigation .navigation-box #navigation-menu li.has-submenu ul {
  background-color: #ffffff;
  min-width: 200px;
  position: absolute;
}
.header-navigation .navigation-box #navigation-menu li.has-submenu ul:before {
  content: "";
  position: absolute;
  left: 24px;
  top: -10px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid #ffffff;
  transition: all 0.5s ease 0s;
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-navigation .navigation-box #navigation-menu li.has-submenu ul {
    position: relative;
    left: 0;
    background-color: #ffffff;
  }
}
@media (max-width: 768px) {
  .header-navigation .navigation-box #navigation-menu li.has-submenu ul {
    position: relative;
    left: 0;
    background-color: #ffffff;
  }
}
.header-navigation .navigation-box #navigation-menu li.has-submenu ul li {
  transition: all 0.5s ease 0s;
  float: none;
  display: block;
}
.header-navigation .navigation-box #navigation-menu li.has-submenu ul li:last-child a {
  border-bottom: 0;
}
.header-navigation .navigation-box #navigation-menu li.has-submenu ul li a {
  padding: 10px 15px;
  border-bottom: 1px solid rgba(0, 1, 1, 0.01);
  color: #404040;
}
.header-navigation .navigation-box #navigation-menu li.has-submenu ul li:hover {
  border-left: 4px solid rgba(0, 1, 1, 0.01);
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-navigation .navigation-box #navigation-menu li.has-submenu ul li:hover {
    border: 0;
  }
}
@media (max-width: 768px) {
  .header-navigation .navigation-box #navigation-menu li.has-submenu ul li:hover {
    border: 0;
  }
}
.header-navigation .navigation-box #navigation-menu li .sub-toggle {
  background: transparent;
  width: 20px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-navigation .navigation-box #navigation-menu li .sub-toggle {
    width: 100%;
    text-align: right;
  }
}
@media (max-width: 768px) {
  .header-navigation .navigation-box #navigation-menu li .sub-toggle {
    width: 100%;
    text-align: right;
  }
}
.header-navigation .navigation-box #navigation-menu li .sub-toggle i {
  color: transparent;
  position: relative;
}
.header-navigation .navigation-box #navigation-menu li .sub-toggle i:before {
  content: "\f107";
  font-family: "FontAwesome";
  position: absolute;
  color: #ffffff;
  font-style: normal;
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-navigation .navigation-box #navigation-menu li .sub-toggle i:before {
    color: #404040;
  }
}
@media (max-width: 768px) {
  .header-navigation .navigation-box #navigation-menu li .sub-toggle i:before {
    color: #404040;
  }
}

#modal button[type=button] {
  background: #ffffff;
  color: #000000;
}

.modal-search-form {
  border: 1px solid #ddd;
}
.modal-search-form input[type=text] {
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #ffffff;
  border: 0;
  padding: 15px 30px;
}
.modal-search-form button {
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 0;
  background-color: #ffffff;
  padding: 15px 30px;
  color: #0D65B0;
}
.modal-search-form button:hover, .modal-search-form button:focus, .modal-search-form button:active {
  background-color: #ffffff !important;
  color: #0D65B0 !important;
}

.tag-widget {
  margin: 0;
}
.tag-widget a {
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 30px;
  color: #404040;
  font-weight: 400;
  background-color: #f2f6fb;
  border-radius: 0;
  padding: 8px 30px !important;
  display: inline-block;
  text-transform: capitalize;
}
.tag-widget a:hover {
  color: #ffffff;
  background-color: #0D65B0;
}

/**
* ============================
*  8.0 Slider Area
* ============================
*/
#particles-js {
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 5;
}

.slider-carousel {
  z-index: 22;
}

.slider-wrapper {
  padding-top: 250px;
  padding-bottom: 250px;
}
@media (max-width: 768px) {
  .slider-wrapper {
    padding-top: 150px;
    padding-bottom: 180px;
  }
}
.slider-wrapper:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 4;
  background: rgba(33, 108, 188, 0.4);
}

.full-padding {
  padding: 300px 0;
}
@media (max-width: 768px) {
  .full-padding {
    padding: 200px 0;
  }
}

.slider-search-form input[type=text] {
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 0;
  background-color: #ffffff;
  padding: 15px 30px;
}
.slider-search-form button {
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 0;
  background-color: #ffffff;
  padding: 15px 30px;
  color: #0D65B0;
}
.slider-search-form button:hover, .slider-search-form button:focus, .slider-search-form button:active {
  background-color: #ffffff !important;
  color: #0D65B0 !important;
}

.slider-content {
  top: 30%;
  position: relative;
  z-index: 22;
}
.slider-content h1,
.slider-content h2 {
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 60px;
}
.slider-content h1 span,
.slider-content h2 span {
  font-weight: 700;
}
.slider-content h3,
.slider-content h4 {
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 30px;
}
.slider-content h3 span,
.slider-content h4 span {
  font-weight: 700;
}
.slider-content .btn {
  padding: 15px 30px;
  background-color: #ffffff;
  color: #000000;
}

/**
* ============================
*  9.0 Page Title Area
* ============================
*/
.page-title-wrapper {
  max-width: 900px;
  margin: auto;
  padding-top: 150px;
  padding-bottom: 100px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .page-title-wrapper {
    max-width: 700px;
  }
}
@media (max-width: 768px) {
  .page-title-wrapper {
    max-width: 750px;
    padding-top: 150px;
    padding-bottom: 100px;
  }
}

.page-title {
  position: relative;
  z-index: 22;
}
.page-title h1,
.page-title h2,
.page-title h3,
.page-title h4,
.page-title h5,
.page-title h6 {
  margin: 0;
}

.page-title-meta {
  margin: 0;
  margin-top: 15px;
}
.page-title-meta li {
  padding-right: 10px;
}
.page-title-meta li img {
  width: 16px;
  margin-right: 10px;
  position: relative;
  bottom: 2px;
}

/**
* ============================
*  10.0 Service Area
* ============================
*/
.section-title {
  margin-bottom: 50px;
}

.white-text h1,
.white-text h2,
.white-text h3,
.white-text h4,
.white-text h5,
.white-text h6,
.white-text a,
.white-text ul,
.white-text p,
.white-text span,
.white-text *,
.white-text *::before,
.white-text *::after {
  color: #ffffff !important;
}
.white-text a:hover,
.white-text a:focus {
  opacity: 0.8;
}

.service-box {
  padding: 30px;
  border: 1px solid rgba(0, 1, 1, 0.01);
  box-shadow: 0 0 20px 5px rgba(33, 107, 188, 0.01);
  text-align: center;
  margin-bottom: 30px;
  transition: all 0.5s ease 0s;
}
.service-box .service-logo {
  margin-bottom: 20px;
}
.service-box .service-logo .service-icon img {
  transition: all 0.5s ease 0s;
}
.service-box .service-content h4 {
  position: relative;
}
.service-box .service-content p {
  margin: 0;
  transition: all 0.5s ease 0s;
}
.service-box:hover {
  box-shadow: 0 0 20px 5px rgba(33, 107, 188, 0.03);
  border-color: rgba(33, 108, 188, 0.1);
}
.service-box:hover .service-icon img {
  transform: matrix(0.9, 0, 0, 0.9, 0, 0);
  -ms-transform: matrix(0.9, 0, 0, 0.9, 0, 0);
  -webkit-transform: matrix(0.9, 0, 0, 0.9, 0, 0);
}

/**
* ============================
*  11.0 Topics Area
* ============================
*/
.topics-service {
  border: 1px solid rgba(0, 1, 1, 0.01);
  box-shadow: 0 0 20px 5px rgba(33, 107, 188, 0.01);
  margin-bottom: 30px;
  padding: 30px;
  transition: all 0.5s ease 0s;
  position: relative;
  z-index: 1;
}
.topics-service .topics-title {
  position: relative;
  margin-bottom: 40px;
}
.topics-service .topics-title:before {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #0D65B0;
  display: block;
  bottom: -14px;
  position: absolute;
}
.topics-service .topics-list {
  margin: 0;
}
.topics-service .topics-list li {
  margin-bottom: 5px;
  position: relative;
  padding-left: 25px;
}
.topics-service .topics-list li:before {
  content: "\f02d";
  font-family: "FontAwesome";
  color: #b8babb;
  position: relative;
  position: absolute;
  left: 0;
  margin-top: 2px;
}
.topics-service:hover {
  transform: matrix(1, 0, 0, 1, 0, -5);
  -ms-transform: matrix(1, 0, 0, 1, 0, -5);
  -webkit-transform: matrix(1, 0, 0, 1, 0, -5);
  box-shadow: 0 0 20px 5px rgba(33, 107, 188, 0.03);
  border-color: rgba(33, 108, 188, 0.1);
}
.topics-service:hover .topics-title:before {
  width: 60px;
}

.topics-area2 .topics-wrapper {
  z-index: 4;
  position: relative;
}
.topics-area2 .topics-service {
  padding: 0;
  border: 0;
}
.topics-area2 .topics-service:before {
  display: none;
}
.topics-area2 .topics-service:hover {
  transform: none;
}
.topics-area2 .topics-service .topics-title {
  margin-bottom: 20px;
}
.topics-area2 .topics-service .topics-title:before {
  display: none;
}
.topics-area2 .topics-service .topics-list li:before {
  content: "\f101";
  font-size: 18px;
  transition: all 0.5s ease 0s;
}
.topics-area2 .topics-service .topics-list li:hover:before {
  padding-left: 5px;
}

.topics-page-content .bminus-30 {
  padding-bottom: 0;
}

/**
* ============================
*  12.0 Faq Area
* ============================
*/
.faq-service {
  box-shadow: 0 0 20px 5px rgba(33, 107, 188, 0.03);
  padding: 30px;
  margin-bottom: 30px;
  border: 1px solid rgba(0, 1, 1, 0.01);
  display: table;
  transition: all 0.5s ease 0s;
  width: 100%;
}
.faq-service .faq-logo {
  float: left;
  transition: all 0.5s ease 0s;
}
.faq-service .faq-logo .logo-text {
  font-size: 30px;
  line-height: 40px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  padding: 15px 5px;
  background-color: #0D65B0;
  width: 70px;
  border-radius: 50%;
  height: 70px;
}
.faq-service .faq-logo .logo-image {
  font-size: 30px;
  line-height: 40px;
  font-weight: 600;
  color: #0D65B0;
  text-align: center;
  background: #f2f6fb;
  width: 45px;
  height: auto;
}
.faq-service .faq-logo .logo-image img {
  padding: 8px;
}
@media (max-width: 575px) {
  .faq-service .faq-logo {
    display: none;
  }
}
.faq-service .faq-content {
  float: right;
  width: calc(100% - 45px);
  padding-left: 20px;
}
.faq-service .faq-content p {
  margin: 0;
}
@media (max-width: 575px) {
  .faq-service .faq-content {
    width: 100%;
    padding: 0;
  }
}

.faq-accordion {
  margin-top: 15px;
}
.faq-accordion .card {
  border: 0;
}
.faq-accordion .card .card-header {
  background-color: #0D65B0;
}
.faq-accordion .card .card-header button[type=button] {
  color: #ffffff;
}

/**
* ============================
*  15.0 Feature Area
* ============================
*/
.feature-box {
  box-shadow: 0 0 20px 5px rgba(33, 107, 188, 0.03);
  padding: 30px;
  text-align: center;
  border: 1px solid transparent;
  margin-bottom: 30px;
}
.feature-box .feature-logo {
  position: relative;
  margin: auto;
  margin-bottom: 15px;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: #0D65B0;
  transition: all 0.2s ease 0s;
}
.feature-box .feature-logo .feature-icon img {
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  margin: auto;
  position: absolute;
}
.feature-box .feature-logo .feature-icon i {
  font-size: 20px;
  color: #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 28px;
  height: 20px;
}
.feature-box .feature-content p {
  margin: 0;
}
.feature-box:hover,
.feature-box .active {
  border: 1px solid rgba(0, 1, 1, 0.01);
}
.feature-box:hover .feature-logo,
.feature-box .active .feature-logo {
  transform: matrix(1.05, 0, 0, 1.05, 0, 0);
  -ms-transform: matrix(1.05, 0, 0, 1.05, 0, 0);
  -webkit-transform: matrix(1.05, 0, 0, 1.05, 0, 0);
}

/**
* ============================
*  16.0 Looking For Area
* ============================
*/
.looking-for-service {
  background-color: #ffffff;
  border: 1px solid rgba(0, 1, 1, 0.01);
  text-align: center;
  padding: 40px 30px;
  margin-bottom: 30px;
  transition: all 0.5s ease 0s;
}
.looking-for-service .looking-for-logo {
  margin-bottom: 25px;
}
.looking-for-service .looking-for-logo a {
  border-radius: 50px;
  background-color: #ffffff;
  width: 80px;
  height: 80px;
  border: 1px solid rgba(0, 1, 1, 0.01);
  display: block;
  margin: auto;
}
.looking-for-service .looking-for-logo img {
  transition: all 0.5s ease 0s;
  padding: 13px 4px;
}
.looking-for-service .looking-for-logo i {
  color: #0D65B0;
  font-size: 3rem;
  padding-top: 0.75rem;
}
.looking-for-service .looking-for-content h4 {
  margin-bottom: 20px;
}
.looking-for-service:hover {
  background-color: #0D65B0;
  box-shadow: 0 0 20px 5px rgba(33, 107, 188, 0.03);
}
.looking-for-service:hover .looking-for-logo img {
  transform: matrix(0.9, 0, 0, 0.9, 0, 0);
  -ms-transform: matrix(0.9, 0, 0, 0.9, 0, 0);
  -webkit-transform: matrix(0.9, 0, 0, 0.9, 0, 0);
}
.looking-for-service:hover h4 a {
  color: #ffffff;
}
.looking-for-service:hover p {
  color: #ffffff;
}
.looking-for-service:hover .btn {
  background-color: #ffffff;
  color: #084375;
}

/**
* ============================
*  17.0 Help Area
* ============================
*/
@media (max-width: 768px) {
  .help-section {
    margin-bottom: 15px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .help-btn {
    text-align: center !important;
    margin-bottom: 5px;
  }
}

/**
* ============================
*  18.0  Form Area
* ============================
*/
.sub-title {
  margin-bottom: 30px;
}

.form-action {
  border: 0;
  width: 100%;
  margin-bottom: 30px;
}
.form-action .form-group {
  margin-bottom: 15px;
}
.form-action .form-group .form-control {
  padding: 10px 15px;
  border-radius: 4px;
  box-shadow: 0 0 20px 5px rgba(33, 107, 188, 0.01);
  width: 100%;
  background-color: #ffffff;
  color: #777777;
  font-size: 16px;
  line-height: 30px;
}
.form-action .form-group .form-control:focus {
  border: 1px solid #084375;
}
.form-action .form-group .form-check-input {
  margin-top: 8px;
}
.form-action .form-group button[type=submit] {
  position: relative;
}
.form-action .form-group .input-label {
  margin-top: 5px;
  display: inline-block;
  font-size: 14px;
  color: #777777;
}
.form-action .file-upload {
  position: relative;
  width: 100%;
  height: 45px;
  border: 1px solid rgba(0, 1, 1, 0.01);
  border-radius: 4px;
}
.form-action .file-upload:after {
  content: attr(data-text);
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #777777;
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff;
  padding: 6px 15px;
  display: block;
  width: calc(100% - 40px);
  pointer-events: none;
  z-index: 20;
  border-radius: 4px;
}
.form-action .file-upload:before {
  content: "\f0c1";
  font-family: "FontAwesome";
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  background: #ffffff;
  color: #0D65B0;
  z-index: 25;
  font-size: 16px;
  line-height: 40px;
  padding: 0 15px;
  text-transform: uppercase;
  pointer-events: none;
}
.form-action .file-upload input {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  height: 45px;
  margin: 0;
  padding: 0;
  display: block;
  cursor: pointer;
  width: 100%;
}

.form-socials {
  margin: 0;
}
.form-socials li a {
  width: 35px;
  height: 35px;
  display: block;
  border-radius: 50px;
  text-align: center;
  color: #fff;
  padding: 1px 0px;
}
.form-socials li a:hover {
  opacity: 0.9;
}

.contact-map {
  margin-bottom: 30px;
}

/**
* ============================
*  22.0 Blog Area
* ============================
*/
.blog-post {
  margin-bottom: 30px;
}
.blog-post .blog-img {
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
}
.blog-post .blog-img img {
  width: 100%;
  transition: all 0.3s ease-in;
}
.blog-post .blog-img:hover img {
  transform: scale(1.1);
}
.blog-post .blog-content {
  margin-bottom: 0;
}
.blog-post .blog-content h4 {
  margin-bottom: 15px;
}
.blog-post .blog-content p {
  margin-bottom: 15px;
}
.blog-post .blog-meta li {
  padding-right: 10px;
  border-right: 1px solid rgba(0, 1, 1, 0.01);
}
.blog-post .blog-meta li img {
  width: 16px;
  margin-right: 10px;
  position: relative;
  bottom: 2px;
}
.blog-post .blog-meta li:last-child {
  border: 0;
}

.blog-spacing {
  margin-bottom: 60px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .blog-spacing {
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .blog-spacing {
    margin-bottom: 30px;
  }
}

.page-navigation .pagination {
  margin: 0;
}
.page-navigation .pagination li {
  margin-right: 10px;
}
.page-navigation .pagination li a {
  font-size: 16px;
  line-height: 30px;
  color: #404040;
  border-radius: 0 !important;
  border: 1px solid rgba(0, 1, 1, 0.01);
  padding: 5px 30px;
}
.page-navigation .pagination li:first-child a, .page-navigation .pagination li:last-child a {
  background-color: #0D65B0;
  color: #ffffff;
}

.single-post .single-img {
  position: relative;
  margin-bottom: 25px;
}
.single-post .single-img img {
  width: 100%;
}
.single-post .single-content {
  margin-bottom: 30px;
}
.single-post .single-content p {
  margin-bottom: 30px;
}
.single-post .single-content p:last-child {
  margin-bottom: 0;
}
.single-post .single-quote {
  position: relative;
  padding-left: 15px;
  margin-bottom: 30px;
}
.single-post .single-quote p {
  font-size: 16px;
  line-height: 30px;
  margin: 0;
}
.single-post .single-quote:before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: #0D65B0;
  position: absolute;
  top: 0;
  left: 0;
}
.single-post .single-quote:after {
  content: "";
  width: 24px;
  height: 25px;
  background-image: url(../images/post-qoute-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 14px;
}
.single-post .single-tags-share {
  display: table;
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 30px;
  border-top: 1px solid rgba(0, 1, 1, 0.01);
  border-bottom: 1px solid rgba(0, 1, 1, 0.01);
}
.single-post .single-tags-share .single-tags {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  font-weight: 400;
  margin: 0;
}
.single-post .single-tags-share .single-tags li:first-child {
  font-weight: 500;
}
.single-post .single-tags-share .single-tags a {
  color: #404040;
}
.single-post .single-tags-share .single-tags a:hover, .single-post .single-tags-share .single-tags a:focus {
  color: #084375;
}
@media (min-width: 768px) and (max-width: 991px) {
  .single-post .single-tags-share .single-tags {
    float: none !important;
    padding-bottom: 0;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .single-post .single-tags-share .single-tags {
    float: none !important;
    padding-bottom: 0;
    text-align: center;
  }
}
.single-post .single-tags-share .single-share {
  font-size: 16px;
  line-height: 30px;
  margin: 0;
}
.single-post .single-tags-share .single-share li:first-child {
  font-weight: 500;
  color: #000000;
}
.single-post .single-tags-share .single-share a {
  color: #777777;
}
.single-post .single-tags-share .single-share a:hover, .single-post .single-tags-share .single-share a:focus {
  color: #777777;
}
@media (min-width: 768px) and (max-width: 991px) {
  .single-post .single-tags-share .single-share {
    text-align: center;
    float: none !important;
    padding-top: 0;
  }
}
@media (max-width: 768px) {
  .single-post .single-tags-share .single-share {
    text-align: center;
    float: none !important;
    padding-top: 0;
  }
}

.single-admin {
  position: relative;
  display: table;
  width: 100%;
  margin-bottom: 30px;
}
.single-admin .admin-avatar {
  width: 130px;
  float: left;
}
@media (min-width: 768px) and (max-width: 991px) {
  .single-admin .admin-avatar {
    width: 100px;
  }
}
.single-admin .admin-comment {
  width: calc(100% - 130px);
  float: left;
  padding-left: 25px;
  padding-top: 8px;
}
.single-admin .admin-comment p {
  margin-bottom: 20px;
}
.single-admin .admin-comment h5 {
  margin: 0;
}
.single-admin .admin-comment h6 {
  font-size: 14px;
  color: #777777;
  margin: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .single-admin .admin-comment {
    width: calc(100% - 100px);
  }
}

.page-pagination .pagination {
  margin-bottom: 30px;
}
.page-pagination .next-btn,
.page-pagination .prev-btn {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #404040;
  border-radius: 0;
  border: 0;
  padding: 0;
}
.page-pagination .next-btn:hover {
  color: #084375;
  background-color: transparent;
}
.page-pagination .prev-btn:hover {
  color: #084375;
  background-color: transparent;
}
.page-pagination .prev-btn i {
  margin-left: 10px;
}
.page-pagination .next-btn i {
  margin-right: 5px;
}

.single-comment {
  display: table;
  width: 100%;
  margin-bottom: 35px;
}

.comment-wrapper {
  padding-left: 50px;
}

.single-comment-img {
  width: 68px;
  float: left;
}

.single-comment-desc {
  width: calc(100% - 68px);
  float: left;
  padding-left: 15px;
}
.single-comment-desc h6 .single-priod {
  font-size: 14px;
  line-height: 30x;
  font-weight: 400;
  color: #777777;
  margin-left: 10px;
}
.single-comment-desc p {
  margin-bottom: 8px;
}
.single-comment-desc .single-comment-btn {
  color: #084375;
  font-size: 16px;
  line-height: 30px;
}

/**
* ============================
*  24.0 Layout Area
* ============================
*/
.layout-breadcrumb .breadcrumb {
  background-color: #f2f6fb;
  margin-bottom: 30px;
}

.unorder-list {
  list-style: none;
  margin-bottom: 30px;
}
.unorder-list li {
  margin-bottom: 5px;
  position: relative;
  padding-left: 20px;
}
.unorder-list li:before {
  content: "\f111";
  font-family: "FontAwesome";
  color: #0D65B0;
  position: relative;
  position: absolute;
  left: 0;
  margin-top: 2px;
  font-size: 11px;
}

.order-list {
  margin-bottom: 30px;
  list-style-position: inside;
  counter-reset: item;
  list-style-type: decimal-leading-zero;
}
.order-list li a {
  color: #0D65B0;
}

.layout-wrapper p {
  margin-bottom: 30px;
}

.sidebar-menu {
  padding: 15px;
  background-color: #f2f6fb;
}
@media (max-width: 768px) {
  .sidebar-menu {
    margin-bottom: 30px;
  }
}
.sidebar-menu button {
  background-color: transparent;
  width: 100%;
  text-align: left;
  position: relative;
}
.sidebar-menu .sub-menu {
  padding-left: 30px;
  margin: 0;
}
.sidebar-menu [aria-expanded*=false]:after {
  content: "\f105";
  font-family: "fontawesome";
  color: #0D65B0;
  position: absolute;
  right: 0;
}
.sidebar-menu [aria-expanded*=true]:after {
  content: "\f107";
  font-family: "fontawesome";
  color: #0D65B0;
  position: absolute;
  right: 0;
}

/**
* ============================
*  22.0 Timeline Area
* ============================
*/
.timeline ul {
  margin: 0;
  padding: 0;
}
.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  background: #f2f6fb;
}
.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 8px;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}
.timeline ul li .timeline-content {
  position: relative;
  border: 1px solid rgba(0, 1, 1, 0.01);
  top: 0;
  min-width: 425px;
  padding: 15px 30px;
  background: #f2f6fb;
}
.timeline ul li .timeline-content::before {
  content: "";
  position: absolute;
  top: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}
.timeline ul li .timeline-content:hover {
  box-shadow: 0 0 20px 5px rgba(33, 107, 188, 0.03);
}
.timeline ul li .timeline-content .timeline-img {
  text-align: center;
}
.timeline ul li .timeline-content .timeline-img > img {
  mix-blend-mode: multiply;
  width: 150px;
  height: 150px;
  margin: 0 auto;
}
.timeline ul li:nth-child(even) .timeline-content {
  left: 35px;
}
.timeline ul li:nth-child(even) .timeline-content::before {
  left: -15px;
  border-width: 15px 16px 15px 0;
  border-color: transparent #f2f6fb transparent transparent;
}
.timeline ul li:nth-child(odd) .timeline-content {
  left: -470px;
}
.timeline ul li:nth-child(odd) .timeline-content::before {
  right: -15px;
  border-width: 15px 0 15px 16px;
  border-color: transparent transparent transparent #f2f6fb;
}
.timeline ul h4 {
  margin-bottom: 0;
}
.timeline ul p {
  margin: 0;
}

.timeline ul li:not(:first-child) {
  margin-top: -7em;
}
.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}
.timeline ul li.in-view::after {
  background: #f2f6fb;
}
.timeline ul li .timeline-content {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.timeline ul li:nth-child(even) .timeline-content {
  transform: translate3d(200px, 0, 0);
  margin-right: 30px;
}
.timeline ul li:nth-child(odd) .timeline-content {
  transform: translate3d(-200px, 0, 0);
  margin-left: 15px;
}
.timeline ul li.in-view .timeline-content {
  transform: none;
  visibility: visible;
  opacity: 1;
}

@media screen and (min-width: 1200px) {
  .timeline ul li .timeline-content {
    min-width: 525px !important;
  }
  .timeline ul li:nth-child(even) .timeline-content {
    left: 35px;
    /*525px+45-6*/
  }
  .timeline ul li:nth-child(odd) .timeline-content {
    left: -570px;
    /*525px+45-6*/
  }
}
@media screen and (max-width: 991px) {
  .timeline ul li .timeline-content {
    min-width: 300px !important;
  }
  .timeline ul li:nth-child(even) .timeline-content {
    left: 40px;
    /*350px+45-6*/
  }
  .timeline ul li:nth-child(odd) .timeline-content {
    left: -350px;
    /*350px+45-6*/
  }
}
@media screen and (max-width: 767px) {
  .timeline ul li {
    margin-left: 1px;
    padding-top: 0;
    padding-bottom: 15px;
    background: transparent;
    width: 100%;
  }
  .timeline ul li:not(:first-child) {
    margin-top: 0;
  }
  .timeline ul li .timeline-content {
    width: 100%;
  }
  .timeline ul li:nth-child(even) .timeline-content {
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 15px;
  }
  .timeline ul li:nth-child(odd) .timeline-content {
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 15px;
  }
  .timeline ul li:nth-child(odd) .timeline-content::before {
    display: none;
  }
  .timeline ul li:after {
    display: none;
  }
}
/**
* ============================
*  25.0 Headline Area
* ============================
*/
.headline-wrapper {
  position: relative;
  bottom: 100px;
}

.headline-box {
  box-shadow: 0 0 20px 5px rgba(33, 107, 188, 0.03);
  border: 1px solid rgba(0, 1, 1, 0.01);
  position: relative;
  text-align: center;
  padding: 30px;
  z-index: 44;
  transition: all 0.5s ease 0s;
  background-color: #ffffff;
}
@media (min-width: 768px) and (max-width: 991px) {
  .headline-box {
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .headline-box {
    margin-bottom: 30px;
  }
}
.headline-box .headline-logo {
  margin-bottom: 30px;
}
.headline-box .headline-logo i {
  color: #0D65B0;
  font-size: 4rem;
}
.headline-box .headline-content h4 {
  margin-bottom: 15px;
}
.headline-box .headline-content p {
  margin-bottom: 30px;
}
.headline-box:hover {
  transform: matrix(1, 0, 0, 1, 0, -5);
  -ms-transform: matrix(1, 0, 0, 1, 0, -5);
  -webkit-transform: matrix(1, 0, 0, 1, 0, -5);
  box-shadow: 0 0 20px 5px rgba(33, 107, 188, 0.03);
  border-color: rgba(33, 108, 188, 0.1);
}

/**
* ============================
*  25.0 Footer Area
* ============================
*/
.footer-widget {
  margin-bottom: 30px;
}

.footer-title {
  position: relative;
  margin-bottom: 45px;
}

.footer-title:before {
  content: "";
  width: 45px;
  height: 1px;
  background-color: #000000;
  position: absolute;
  bottom: -15px;
  left: 0;
}

.footer-copyright p {
  margin: 0;
  padding-bottom: 40px;
}

.footer-copyright p a {
  color: #084375;
}

ul#results-container {
  margin: 0;
  list-style: none;
}

.modal-body {
  padding: 0.5rem;
}

.modal-content {
  border-radius: 0;
}

.revert-color .bg-color3 {
  background: #fff;
}

.revert-color .bg-color1 {
  background: #f2f6fb;
}

.item-id.active {
  opacity: 0;
  height: 0;
  -webkit-transition: all 0.4s linear 0s;
  -ms-transform: all 0.4s linear 0s;
  transition: all 0.4s linear 0s;
}

.post-image {
  float: left;
  width: 122px;
  margin-right: 8px;
}
.post-image a {
  display: block;
}

.search-content {
  float: left;
  width: calc(100% - 130px);
}
.search-content h3 {
  margin-bottom: 3px;
}
.search-content h3 a {
  color: #333;
  display: block;
  font-weight: 700;
  font-size: 18px;
  margin-top: 0px;
  display: table;
}
.search-content p {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.8;
}

div#results-container {
  float: left;
  width: 100%;
  background: #ffeded;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
}

.search-results {
  float: left;
  width: 100%;
  border-bottom: 1px solid #dedede;
  padding: 15px;
}

select:hover {
  cursor: pointer !important;
}

.topics-service-area {
  -moz-column-count: 3;
       column-count: 3;
  -moz-column-gap: 30px;
       column-gap: 30px;
  height: calc(100% - 2px);
}
@media (min-width: 768px) and (max-width: 991px) {
  .topics-service-area {
    -moz-column-count: 2;
         column-count: 2;
  }
}
@media (max-width: 768px) {
  .topics-service-area {
    -moz-column-count: 1;
         column-count: 1;
  }
}
@media (max-width: 575px) {
  .topics-service-area {
    -moz-column-count: 1;
         column-count: 1;
  }
}
.topics-service-area article {
  height: 100%;
  -moz-column-break-after: avoid;
       break-after: avoid;
  -moz-column-break-before: avoid;
       break-before: avoid;
  -moz-column-break-inside: avoid;
       break-inside: avoid;
  -webkit-column-break-inside: avoid;
  overflow: visible;
}

.doc-sidebar-menu ul {
  list-style: none;
  padding: 0;
  display: block;
}
.doc-sidebar-menu ul ul {
  font-size: 0.9rem;
  padding-left: 0.75rem;
}
.doc-sidebar-menu li a {
  border-bottom: 1px solid #cbdbef;
  display: block;
  padding: 5px 5px 5px 10px;
  background: #f2f6fb;
  line-height: 2;
  -webkit-transition: 0.1s ease;
  -ms-transform: 0.1s ease;
  transition: 0.1s ease;
}
.doc-sidebar-menu li a.active {
  font-weight: bold;
}

.tutorial .sidebar {
  display: none;
  padding: 0;
  position: absolute;
  top: 0;
  width: 280px;
}
.tutorial h2 {
  margin-top: 40px;
}

@media (min-width: 768px) {
  .tutorial-content {
    margin-left: 300px;
  }
  .tutorial .sidebar {
    display: block;
  }
}
h2 a.header-link, h3 a.header-link, h4 a.header-link {
  text-decoration: none;
  color: #ccc;
  opacity: 0;
  transition: opacity ease 0.2s, color ease 0.2s;
  vertical-align: bottom;
  margin: 0 0 0 5px;
}
h2 a.header-link:hover, h3 a.header-link:hover, h4 a.header-link:hover {
  color: #4a4a4a;
  opacity: 0.4;
  transition: opacity ease 0.2s, color ease 0.2s;
}

.doc-content a {
  color: rgb(14.528, 121.672, 212.472);
}
.doc-content a:hover {
  color: #084375;
}

.doc-content blockquote {
  padding: 0 1rem;
  border-left: rgba(0, 0, 0, 0.2) solid 4px;
  background: rgba(0, 0, 0, 0.03);
}

div#table-of-contents {
  background: #f2f6fb;
}
div#table-of-contents li:not(.active) > .submenu-class {
  display: none;
}
div#table-of-contents li.active > .submenu-class {
  display: block;
}

div#modal {
  background: #fff;
}

.custom-links,
.doc-right-sidebar {
  position: sticky;
  top: 30px;
}

.custom-links {
  background: #f2f6fb;
  padding: 15px;
  border-radius: 2px;
  margin-bottom: 30px;
}
.custom-links ul {
  margin-top: 18px;
}
.custom-links ul .display-dropdown .sub-dropdown {
  display: block;
}
.custom-links ul .display-dropdown a .fa {
  transform: rotate(90deg);
}
.custom-links ul li {
  position: relative;
}
.custom-links ul li.active > a {
  border-left: 1px solid #084375;
}
.custom-links ul li ul.sub-dropdown {
  padding: 0px;
  margin: 0px;
  list-style: none;
  margin-left: 15px;
  font-size: 14px;
  display: none;
}
.custom-links ul li i {
  text-align: center;
  position: absolute;
  right: -10px;
  top: 5px;
  border: 1px solid #ddd;
  width: 25px;
  display: inline-block;
  height: 25px;
  line-height: 1.4;
  cursor: pointer;
  border-radius: 50%;
  color: #084375;
  transition: all ease 0.2s;
}
.custom-links ul li i:hover {
  background: #084375;
  border-color: #084375;
  color: #ffffff;
  transition: all ease 0.2s;
}
.custom-links ul li a {
  line-height: 1.8;
  margin-left: -1px;
  display: block;
  padding-left: 10px;
  line-height: 1.7;
  padding-top: 6px;
  padding-bottom: 6px;
}

.tutorial-content.mx-auto {
  margin: 0px;
}