---
layout: page
title: Contact
add_to_menu: true
description: "Meta description for about page"
keywords: "responsive,jekyll,minimal template"
---

<!-- Start Feature  Area -->
<div class="feature-area bg-color1">
  <div class="feature-wrapper section-spacing pb-0">
     <div class="container">
        <div class="row">
           <div class="col-md-6 col-lg-4">
              <article class="feature-box bg-color3">
                 <header class="feature-logo wow bounceIn" data-wow-duration="1s">
                    <div class="feature-icon"> <i class="fas fa-user-tie"></i></div>
                 </header>
                 <footer class="feature-content">
                    <h5 class="heading-5"><a href="#">Business Developer</a></h5>
                    <p>Herman Pals</p>
                    <p><a href="mailto:herman.pals@tno.nl">herman.pals@tno.nl</a></p>
                    <p><a href="tel:+31 88 866 72 17">+31 88 866 72 17</a></p>
                 </footer>
              </article>
           </div>
           <div class="col-md-6 col-lg-4">
              <article class="feature-box bg-color3">
                 <header class="feature-logo wow bounceIn" data-wow-duration="1s">
                    <div class="feature-icon"> <i class="fab fa-github"></i></div>
                 </header>
                 <footer class="feature-content">
                    <h5 class="heading-5"><a href="#">Gitlab</a></h5>
                    <p> <a href="https://gitlab.com/tno-tsg">https://gitlab.com/tno-tsg</a> </p>
                 </footer>
              </article>
           </div>
           <div class="col-md-6 col-lg-4">
              <article class="feature-box bg-color3">
                 <header class="feature-logo wow bounceIn" data-wow-duration="1s">
                    <div class="feature-icon"> <i class="fas fa-code"></i></div>
                 </header>
                 <footer class="feature-content">
                    <h5 class="heading-5"><a href="#">Software Development</a></h5>
                    <p>Maarten Kollenstart</p>
                    <p><a href="mailto:maarten.kollenstart@tno.nl">maarten.kollenstart@tno.nl</a></p>
                 </footer>
              </article>
           </div>
        </div>
     </div>
  </div>
</div>
<!-- End Feature Area -->