---
layout: default
---

{% include header.html %}
{% include doc_post_header.html %}
<section class="layout-area bg-color1 content tutorial">
  <div class="layout-wrapper section-spacing bminus-30">
    <div class="container large">
      <div class="row">
        <div class="col-md-12">
          <nav class="layout-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ "/" | relative_url }}">Home</a></li>
                {% if page.title != 'Architecture' %}
                <li class="breadcrumb-item"><a href="{{ "/playground/overview" | relative_url }}">Playground</a></li>
                {% endif  %}
                <li class="breadcrumb-item active" aria-current="page">{{page.title}}</li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="row">
	  {% if page.left_menu %}

        <div class="col-lg-3 col-xxl-2">
          <div class="custom-links">
            <h5>Playground</h5>         
			  <ul class="nav navbar-nav" id="nav">
			{% for link in site.data.playground_navigation %}
					<li class="subitem display-dropdown {% if page.url == link.url %}active {% endif %}">
						<a href="{{ link.url | relative_url }}">{{ link.text }}</a>
            {% if link.submenu %}<a class="pb-0 pt-0 subitem-show"><i class="fa fa-angle-right"></i></a> {% endif %}

						{% if link.submenu %}						
							 <ul class="sub-dropdown">
								{% for sublink in link.submenu %}
									<li {% if page.url == sublink.url %}class="active"{% endif %}>
										<a href="{{ sublink.url | relative_url }}">{{ sublink.text }}</a>
									</li>
								{% endfor %}
							</ul>
						{% endif %}
					</li>
				{% endfor %}
			</ul>			
          </div>
        </div>
		{% endif %}
		
		
		{% assign col = "6" %}
    {% assign col-xxl = "8" %}
		
		{% if page.toc != true %}		
		{% assign col1 = "3" %}
		{% assign col-xxl1 = "2" %}
		{% endif %}
		
		{% if page.left_menu == false %}
		{% assign col2 = "3" %}
		{% assign col-xxl2 = "2" %}
		{% endif %}	
		
		
        <div class="col-lg-{{ col | plus: col1 | plus: col2 }} col-xxl-{{ col-xxl | plus: col-xxl1 | plus: col-xxl2 }}">
          <div class="tutorial-content mx-auto">
            <div class="doc-content">		
              {{content}}
            </div>
          </div>
        </div>
		{% if page.toc == true %}
        <div class="col-lg-3 col-xxl-2">
          <div class=" doc-sidebar-menu doc-right-sidebar">

            <div>
              <div id="table-of-contents">
               <h5 class="px-3 pt-3">Table of Content</h5>
				 {% include toc.html html=content h_min=2 h_max=3 submenu_class='submenu-class' %}
              </div>

            </div>

          </div>
        </div>
		{% endif %}
      </div>
    </div>
  </div>
  </div>
</section>

{% include support_area.html %}
{% include image_modal.html %}
{% include footer.html %}
<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
<script>
  mermaid.initialize({ 
    startOnLoad: true, 
    theme: 'base', themeVariables: {
      primaryColor: '#4ba5f1',
      primaryBorderColor: '#0b5595',
      secondaryColor: '#4ba5f1',
      tertiaryColor: '#4ba5f1',
      primaryTextColor: '#FFFFFF',
      textColor: '#404040',
      fontFamily: 'Poppins,sans-serif'
    },
    sequence: {
      actorFontFamily: 'Poppins,sans-serif',
      actorFontWeight: 600,
      actorFontSize: 16,
      noteFontFamily: 'Poppins,sans-serif',
      messageFontFamily: 'Poppins,sans-serif',
      messageFontWeight: 100,
      mirrorActors: false,
      rightAngles: true,
      showSequenceNumbers: true
    }
  });
  
  window.addEventListener('load', () => {
    document.querySelectorAll('.mermaid > svg').forEach(e => e.removeAttribute('height'));
  })

  const headings = document.querySelectorAll("h2[id], h3[id]");
  for (var i = 0; i < headings.length; i++) {
    const anchorLink = document.createElement("a");
    anchorLink.innerText = "#";
    anchorLink.href = "#" + headings[i].id;
    anchorLink.classList.add("header-link");

    headings[i].appendChild(anchorLink);
  }
  
  {% if page.toc == true %}
  const tocs = document.querySelectorAll("#table-of-contents a")
  function updateActiveToc() {
    for (var i = 0; i < headings.length; i++) {
      if (headings[i].getBoundingClientRect().top > 105) {
        if (!tocs[Math.max(0, i-1)].classList.contains("active")) {
          tocs.forEach((e) => e.classList.remove("active"))
          tocs[Math.max(0, i-1)].classList.add("active")
          document.querySelectorAll("#table-of-contents > ul > li").forEach((e) => e.classList.remove("active"))
          tocs[Math.max(0, i-1)].closest("#table-of-contents > ul > li")?.classList.add("active")
        }
        return
      }
      if (!tocs[tocs.length-1].classList.contains("active")) {
          tocs.forEach((e) => e.classList.remove("active"))
          tocs[tocs.length-1].classList.add("active")
          document.querySelectorAll("#table-of-contents > ul > li").forEach((e) => e.classList.remove("active"))
          tocs[tocs.length-1].closest("#table-of-contents > ul > li")?.classList.add("active")
        }
    }
  }
  window.addEventListener('scroll', updateActiveToc);
  updateActiveToc();
  {%endif %}
</script>
<style>
.mermaid svg > text.messageText {
  filter: drop-shadow(0px 0px 2px #FFF);
  stroke-width: 0;
  font-weight: 500 !important;
}
.mermaid svg .loopText, .mermaid svg .loopText > tspan {
    fill: #404040 !important;
}
.mermaid svg path[marker-start="url(#sequencenumber)"] {
    transform: translate(0, 5px);
}
.mermaid svg path[marker-start="url(#sequencenumber)"] + text {
    transform: translate(0, 5px);
}
</style>